@import "tailwindcss";
@import "tw-animate-css";

:root {
  --bg: #0e1116;
  --surface: #161a22;
  --text: #f4f7ff;
  --text-dim: #a9b1c6;
  --border: #232938;
  --indigo: #4b5dff;
  --coral: #ff6b6b;
  --mint: #2ee6a6;
  --amber: #ffb020;
  --focus: #4b5dff;
}

[data-slot="sheet-content"] {
  border:0 !important;
}

::-webkit-scrollbar {
  display: none;
}